window {
	background-color: #383c4a;
	font: 17px Inter, sans-serif;
	border-radius: 3px;
	border: 2px solid #5294e2;
	opacity: .85;
}

#input {
	font-size: 21px;
	margin: 8px 60px 3px 60px;
	border: 1.5px solid #ddd;
	border-radius: 2px;
	background-color: #7c818c;
	padding: 8px 12px;
	color: #fff;
}

#inner-box {
	background-color: #4b5162;
	border-radius: 3px;
	padding: 6px 4px;
}

#outer-box {
	margin: 3px 2px;
	border: 2px solid #383c4a;
	background-color: #383c4a;
	border-radius: 5px;
}

#scroll {
	margin: 5px;
}

#text {
	margin: 8px 5px;
	color: #efefef;
}
#entry {
	padding: 4px;
}
