[Unit]
Description=Inhibit idle
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=systemd-inhibit --what=idle --who=i3blocks --why='User inhibited idle' sleep infinity

[Install]
WantedBy=graphical-session.target
